<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1RM Calculator</title>

    <!-- load css -->
    <link rel="stylesheet" href="styles.css" />

    <!-- load fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <!-- load vue -->
    <script src="https://unpkg.com/vue@next" defer></script>

    <!-- load js -->
    <script src="app.js" defer></script>
  </head>

  <body>
    <div id="app" class="container">
      <h1>One Rep Max Calculator</h1>
      <!-- Unit of measurement portion -->
      <div class="toggle-switch">
        <input
          type="radio"
          name="unit"
          id="lbs-measurement"
          value="lbs"
          v-model="selectedUnit"
          checked
        />
        <label for="lbs-measurement">{{ unit_of_measurement[0] }}</label>
        <input
          type="radio"
          name="unit"
          id="kgs-measurement"
          value="kg"
          v-model="selectedUnit"
        />
        <label for="kgs-measurement">{{ unit_of_measurement[1] }}</label>
      </div>

      <!-- weight lifted  -->
      <div class="l1">
        <label class="large-label" for="weight-lifted"
          >Weight Lifted ({{ selectedUnit }})</label
        >
      </div>
      <div class="i1">
        <input
          v-on:input="setWeight"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number"
          maxlength="6"
          step="0.25"
          min="0"
          name="weight"
          id="weight-lifted"
          autocomplete="off"
          required
        />
      </div>
      <!-- reps completed section -->
      <div class="l2">
        <label class="large-label" for="reps">Reps Completed</label>
      </div>
      <div class="i2">
        <select name="reps" id="" v-model="selectedReps">
          <option disabled value="">Select One</option>
          <option v-for="n in 10" v-bind:value="n">{{n}}</option>
        </select>
      </div>
      <div class="rm-txt">
        <p><em>Estimated</em> 1RM:</p>
      </div>
      <div class="rm-output">{{ calculatedOneRepMax}}</div>
    </div>
  </body>
</html>
